{
  "plugins": ["prettier-plugin-organize-imports"],
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "tabWidth": 2,
  "endOfLine": "lf"
}
